.logo {
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	background-color: #5A678F;
	
}

.sectionheader {
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	background-color: #B7BFD9;
	
}

.sectionheader2 {
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	background-color: #B7BFD9;
	color: #162B3F;
	
}

.errorheader {
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	background-color: #F1D5D5;
	color: #5A1010;
}

.border {
	border-top: 1px solid #000000;
	
	border-bottom: 1px solid #000000;
	background-color: #FFFFFF;
}

.topheader {
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	background-color: #162B3F;
	
}

.columnspacing {
	
	border-right: 1px dotted #000000;
	
}

.topmenuitems {
	
}

.section1 {
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #000000;
	background-color: #CED4E9;
	
}

.section2 {
	border-top: 1px solid #000000;
	background-color: #EEF1F9;
	
}

.section3 {
	background-color: #EEF1F9;	
}

a.columnheadertext:link { text-decoration: none; color: black; }
a.columnheadertext:visited { text-decoration: none; color: black; }
a.columnheadertext:hover { text-decoration: underline; color: black;  }
a.columnheadertext:active { text-decoration: underline; color: black;  }


a.topmenuitems:link { text-decoration: none; color: white; }
a.topmenuitems:visited { text-decoration: none; color: white; }
a.topmenuitems:hover { text-decoration: underline; color: white;  }
a.topmenuitems:active { text-decoration: underline; color: white;  }

a.emailaddress:link { text-decoration: none;  }
a.emailaddress:visited { text-decoration: none;  }
a.emailaddress:hover { text-decoration: underline;  }
a.emailaddress:active { text-decoration: underline;   }


