.logo {
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	background-color: #6F768D;
	
}

.sectionheader {
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	background-color: #B7BFD9;
}

.sectionheader1 {

	border-bottom: 1px solid #000000;
	background-color: #DDE3ED;
}
.sectionheader2 {
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	background-color: #B7BFD9;
	color: #162B3F;
	
}

.errorheader {
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	background-color: #F8A2AF;
	color: #5A1010;
}

.messageheader {
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	background-color: #DDE3ED;
	color: #5A1010;
}


.border {
	border-top: 1px solid #000000;
	
	border-bottom: 1px solid #000000;
	background-color: #FFFFFF;
}

.topheader {
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	background-color: #162B3F;
	
}

.columnspacing {
	
	border-right: 1px solid #000000;
	
}

.topmenuitems {
	
}

.section1 {
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #000000;
	background-color: #CED4E9;	
}

.section2 {
	border-top: 1px solid #000000;
	background-color: #EEF1F9;
	
}

.section3 {
	background-color: #EEF1F9;	
}

.smallbutton {
 font-size: 8pt; 
}

a.columnheadertext:link { text-decoration: none; color: black; }
a.columnheadertext:visited { text-decoration: none; color: black; }
a.columnheadertext:hover { text-decoration: underline; color: black;  }
a.columnheadertext:active { text-decoration: underline; color: black;  }


a.topmenuitems:link { text-decoration: none; color: white; }
a.topmenuitems:visited { text-decoration: none; color: white; }
a.topmenuitems:hover { text-decoration: underline; color: white;  }
a.topmenuitems:active { text-decoration: underline; color: white;  }

a.emailaddress:link { text-decoration: none;  }
a.emailaddress:visited { text-decoration: none;  }
a.emailaddress:hover { text-decoration: underline;  }
a.emailaddress:active { text-decoration: underline;   }

body,td,div,.p,a {font-family:arial,sans-serif; font-size: 9.5pt}
div,td{color:#000}
.f,.fl:link{color:#6f6f6f}
a:link,.w,a.w:link,.w a:link{color:#00c}
a:visited,.fl:visited{color:#551a8b}
a:active,.fl:active{color:#f00}
.t a:link,.t a:active,.t a:visited,.t{color:#000}
.t{background-color:#e5ecf9}
.k{background-color:#36c}
.j{width:34em}
.h{color:#36c}
.i,.i:link{color:#a90a08}
.a,.a:link{color:#008000}
.z{display:none}
div.n {margin-top: 1ex}
.n a{color:#000}
.n .i{font-weight:bold}
.q a:visited,.q a:link,.q a:active,.q {color: #00c; }
.b{font-size: 8pt; color:#00c; font-weight:bold}
.e{margin-top: .75em; margin-bottom: .75em}
.g{margin-top: 1em; margin-bottom: 1em}


#tablist{
padding: 3px 0;
margin-left: 0;
margin-bottom: 0;
margin-top: 0.1em;
font: bold 12px Verdana;

}

#tablist li{
list-style: none;
display: inline;
margin: 0;
}

#tablist li a{
text-decoration: none;
padding: 3px 0.5em;
margin-left: 3px;
border: 1px solid #778;
border-bottom: none;
background: #B7BFD9;
}
#tablist li a:link, #tablist li a:visited{
color: black;
}

#tablist li a.current{
background: #CED4E9;
}

#tabcontentcontainer{
width:100%;
background: #CED4E9;
}

.tabcontent{
display:none;
background: #CED4E9;
}

