.logo {
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	background-color: #7A98B1;
}

.menu {
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	background-color: #515151;
	
}

.pageheading {
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	background-color: #356288;
	color: #FFFFFF;
	font-size: 14px;
	padding-left: 33px;
	padding-right: 6px;
}

.pagedialog {
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #000000;
	background-color: #DDE3ED;
	font-size: 11px;
}

.pagetext {
	border-top: 1px solid #000000;
	background-color: #FFFFFF;	
	font-size:11px;
}

td {
	font-size: 12px;
}

div {
	font-size: 11px;
}
td {
	font-size: 11px;
}
.columnspacing .columnheadertext {
	font-size: 13px;
}



.pageend {
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	background-color: #E0E7EF;
	color: #FFFFFF;
	font-size:9px;
	padding-left: 33px;
	padding-right: 6px;
}



.actionbar {
	border-bottom: 1px solid #000000;
	background-color: #EAEEF4;
	padding-top: 2px;
	padding-right: 3px;
	padding-bottom: 1px;
	padding-left: 33px;
}
.columnheadings {
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	background-color: #E0E7EF;
	color: #162B3F;
	font-size: 10px;
}

.columnfooter {
	border-top: 1px solid #000000;;
	border-bottom: 1px solid #000000;
	background-color: #E0E7EF;
	color: #162B3F;
}

.logoend {
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	background-color: #515151;
	font-size: 6px;
}
.validationtext {
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	background-color: #FFDFDF;
	color: #5A1010;
}

.infotext {
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	background-color: #DFDFFF;
	color: #5A1010;
	font-size: 11px;
	padding: 3;
}

.border {
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	background-color: #FFFFFF;
}

.columnspacing {
	border-right: 1px solid #000000;
}

.topmenuitems {
}

.smallbutton {
 font-size: 8pt; 
}

a.columnheadertext:link { text-decoration: none; color: black; }
a.columnheadertext:visited { text-decoration: none; color: black; }
a.columnheadertext:hover { text-decoration: underline; color: black;  }
a.columnheadertext:active { text-decoration: underline; color: black;  }

a.topmenuitems:link { text-decoration: none; color: white; }
a.topmenuitems:visited { text-decoration: none; color: white; }
a.topmenuitems:hover { text-decoration: underline; color: white;  }
a.topmenuitems:active { text-decoration: underline; color: white;  }

a.emailaddress:link { text-decoration: none;  }
a.emailaddress:visited { text-decoration: none;  }
a.emailaddress:hover { text-decoration: underline;  }
a.emailaddress:active { text-decoration: underline;   }

body,td,div,.p,a {font-family:verdana,sans-serif; font-size: 8pt; margin:0}

#tablist{
padding: 3px 0;
margin-left: 0;
margin-bottom: 0;
margin-top: 0.1em;
font: bold 11px Verdana;

}

#tablist li{
list-style: none;
display: inline;
margin: 0;
}

#tablist li a{
text-decoration: none;
padding: 3px 0.5em;
margin-left: 3px;
border: 1px solid #778;
border-bottom: none;
background: #DDE3ED;
}
#tablist li a:link, #tablist li a:visited{
color: black;
}

#tablist li a.current{
	background: #F0F4F6;
}

#tabcontentcontainer{
width:100%;
background: #FFFFFF;;
margin:0pt 0pt 0pt;
}

.tabcontent{
display:none;
background: #EEF3F8;
font-size:11px;
}

body {
	margin: 0px;
}
#tabcontentcontainer td {
	font-size: 12px;
}

.pageheading div {
	font-size: 12px;
}
.pageheading td {
	font-size: 12px;
}
.pageheading .columnspacing .columnheadertext {
	font-size: 12px;
}

.pagedialog div {
	font-size: 11px;
}
.pagedialog td {
	font-size: 11px;
}
.pagedialog .columnspacing .columnheadertext {
	font-size: 11px;
}

.signonborder {
	border: 1px groove #000000;
}

.signonbackground {
	background-image: url(images/gradient.jpg);
	background-repeat: repeat-x;
	background-color: #C6CFD0;
}
