.logo {
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	background-color: #7A98B1;
}

.menu {
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	background-color: #515151;
	
}

.pageheading {
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	background-color: #356288;
	color: #FFFFFF;
	font-size: 14px;
	padding-left: 33px;
	padding-right: 6px;
}

.pagedialog {
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #000000;
	background-color: #DDE3ED;
	font-size: 11px;
}

.pagetext {
	border-top: 1px solid #000000;
	background-color: #FFFFFF;	
	font-size:11px;
}

td {
	font-size: 12px;
}

div {
	font-size: 11px;
}
td {
	font-size: 11px;
}
.columnspacing {
	font-size: 13px;
}

.columnheadertext {
	font-size: 13px;
}



.pageend {
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	background-color: #E0E7EF;
	color: #FFFFFF;
	font-size:9px;
	padding-left: 33px;
	padding-right: 6px;
}



.actionbar {
	border-bottom: 1px solid #000000;
	background-color: #EAEEF4;
	padding-top: 2px;
	padding-right: 3px;
	padding-bottom: 1px;
	padding-left: 33px;
}
.columnheadings {
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	background-color: #E0E7EF;
	color: #162B3F;
	font-size: 10px;
}

.columnfooter {
	border-top: 1px solid #000000;;
	border-bottom: 1px solid #000000;
	background-color: #E0E7EF;
	color: #162B3F;
}

.logoend {
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	background-color: #515151;
	font-size: 6px;
}
.validationtext {
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	background-color: #FFDFDF;
	color: #5A1010;
}

.infotext {
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	background-color: #DFDFFF;
	color: #5A1010;
	font-size: 11px;
	padding: 3;
}

.border {
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	background-color: #FFFFFF;
}

.columnspacing {
	border-right: 1px solid #000000;
}

.topmenuitems {
}

.smallbutton {
 font-size: 8pt; 
}

a.columnheadertext:link { text-decoration: none; color: black; }
a.columnheadertext:visited { text-decoration: none; color: black; }
a.columnheadertext:hover { text-decoration: underline; color: black;  }
a.columnheadertext:active { text-decoration: underline; color: black;  }

a.topmenuitems:link { text-decoration: none; color: white; }
a.topmenuitems:visited { text-decoration: none; color: white; }
a.topmenuitems:hover { text-decoration: underline; color: white;  }
a.topmenuitems:active { text-decoration: underline; color: white;  }

a.emailaddress:link { text-decoration: none;  }
a.emailaddress:visited { text-decoration: none;  }
a.emailaddress:hover { text-decoration: underline;  }
a.emailaddress:active { text-decoration: underline;   }

body,td,div,.p,a { font-family:verdana,sans-serif; font-size: 8pt; margin:0 }

body {
	margin: 0px;
}

.pageheading div {
	font-size: 12px;
}
.pageheading td {
	font-size: 12px;
}
.pageheading .columnspacing .columnheadertext {
	font-size: 12px;
}

.pagedialog div {
	font-size: 11px;
}
.pagedialog td {
	font-size: 11px;
}
.pagedialog .columnspacing .columnheadertext {
	font-size: 11px;
}

.signonborder {
	border: 1px groove #000000;
}

.signonbackground {
	background-image: url(images/gradient.jpg);
	background-repeat: repeat-x;
	background-color: #C6CFD0;
}

.tableborder {
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
        border-left: 1px solid #000000;
        border-right: 1px solid #000000;
}

.tablehead {
	background-color: #C6CFD0;
}


.tooltip {
	 background-color: #fee069;
	 position:absolute;
	 visibility:hidden;
	 padding:1px;
	 border-style:solid;
	 border-color:black;
 	 border-width:1px;
	 margin-top:1px;
}

.input.readonly {
	background: #fee069;
}

/* ######### tabs */

.shadetabs{
padding: 3px 0;
margin-left: 0;
margin-top: 1px;
margin-bottom: 0;
font: 9px Verdana;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.shadetabs li{
display: inline;
margin: 0;
}

.shadetabs li a{
text-decoration: none;
position: relative;
z-index: 1;
padding: 3px 7px;
margin-right: 3px;
border: 1px solid #778;
color: #2d2b2b;
background: #E0E7EF url(shade.gif) top left repeat-x;
}

.shadetabs li a:visited{
color: #2d2b2b;
}

.shadetabs li a:hover{
text-decoration: underline;
color: #2d2b2b;
}

.shadetabs li a.selected{ /*selected main tab style */
position: relative;
top: 1px;
}

.shadetabs li a.selected{ /*selected main tab style */
background-image: url(shadeactive.gif);
border-bottom-color: white;
}

.shadetabs li a.selected:hover{ /*selected main tab style */
text-decoration: none;
}

.tabcontent{
display:none;
background: #E0E7EF;
font-size:9px;
}

.tabcontentcontainer{
width:100%;
background: #FFFFFF;;
margin:0pt 0pt 0pt;
}

@media print {
.tabcontent {
display:block !important;
}
}

</style>


